.signup-main-div{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background:#23242a;
  }
  
  
  .box{
    background-color: black;
    box-shadow: 0.5rem 0.5rem #06070d;
    position:relative;
    width:27rem;
    height:39rem;
    border-radius:10em 5em;
    overflow: hidden;
      /* opacity:0.5; it is for making bg light or transparent*/
  }
  
  .box::before{
    content: ""; 
    position: absolute;
    top:-50%;
    left:-50%;
    width:380px;
    height:420px;
    background:linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
  }
  
  .box::after{
    content: ""; 
    position: absolute;
    top:-50%;
    left:-50%;
    width:380px;
    height:420px;
    background:linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay:-3s;
  }
  
  
  @keyframes animate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  
  .form{
    position: absolute;
    inset: 3px;
    border-radius:8px;
    background:#2a2c2e;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction:column;
  }
  
 

  img{
    border-radius:78%;
  }
  
  
    /* Full-width inputs */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: none;
      box-sizing: border-box;
      background:transparent;
      border-bottom: 1px solid black;
      border-right: 2px solid black;
      color:#fff;
    }
  
    
    
    /* Set a style for all buttons */
    button {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
  
  .yes{
    cursor: pointer;
  }
  
  .checking{
    cursor:pointer;
    margin:0.9em 0.1em;
  }
  
  span{
    color:white;
    font-size:17px;
  }
  
  .has-seperator{
    display:flex;
    padding-top:0.5em;
  }
  
  .has-seperator::before,
  .has-seperator::after{
    content:"";
    flex: 1 1;
    border-bottom: 2px solid grey;
    margin:auto;
  }
  
  /*FACEBOOK login text styling*/
  .facebook-login {
    width:20%;
    border-radius:10px;
    font-weight: bold;
    color: #306cee;
  }
  
  .facebook-login i {
    font-size: 2rem;
  }
  
  .twitter{
    border-radius:10px;
    font-weight: bold;
    color: #306cee;
    padding-left:1.2em;
  }
  .twitter i {
    font-size:2rem;
  }
  .gmail{
    border-radius:10px;
    font-weight: bold;
    color: #306cee;
    padding-left:1.2em;
  }
  .gmail i {
    font-size:2rem;
  }
  
  /*password reset styling*/
  .password-reset {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
  }

  .sign-up1{
    text-align: center;
    padding-top:1rem;
  }
  
  /* @media (max-width:800px) {
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  } */
  
  @media only screen  and  (max-width:500px) {
    /* For mobile phones: */
    .signup-main-div{
      display:flex;
      justify-content: center;
      align-items: center;
      min-height:100vh;
      } 
      .main {
        width: 80%;
        padding: 0;
      }
      .right {
        width: 100%;
      }
  }
  
  
  
  
  
  
  